@import url("/assets/theme.css");
@import url("/assets/icons.css");

header {
  display: flex;
  gap: 0.5em;
  max-width: 60rem;
  margin: 0.4em auto;
  padding-inline: 0.4em;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.4em;
  box-sizing: border-box;
}

header a {
  font-size: 120%;
  border-radius: var(--rounding);
  padding: 0.8em;
  color: inherit;
  transition: 0.2s background-color;
}

header a:hover {
  background-color: var(--hover);
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 60rem;
}

main.sidebar {
  grid-template-columns: 1fr 35%;
}

main > .content,
main aside {
  margin: 1rem;
}

.modList {
  display: grid;
  gap: 1em;
}

.mod {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.8em;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: var(--rounding);
  padding: 0.8em;
}

.mod.withUnstable {
  grid-template-columns: 1fr auto auto;
}

.mod .name {
  font-weight: 700;
  font-size: 150%;
}

.mod .description {
  margin-block: 0.2em;
  user-select: text;
}

.mod span {
  font-weight: 400;
  font-size: 80%;
  margin-inline-start: 0.3em;
  opacity: 0.7;
}

.mod .version {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.mod .version button {
  width: 100%;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

aside .block {
  border: 1px solid var(--border);
  border-radius: var(--rounding);
  overflow: hidden;
}

aside .block .title {
  background: var(--hover);
  border-bottom: 1px solid var(--border);
  font-size: 110%;
  font-weight: 700;
  padding: 0.6em;
}

footer {
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 0 1em;
  max-width: 35em;
  text-align: center;
  line-height: 125%;
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  header {
    font-size: 90%;
  }

  main.sidebar {
    grid-template-columns: 1fr;
  }
}
